h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #1F1F29;
    font-weight: bold;
}

.main-heading {
    font-family: Arial, Helvetica, sans-serif;
    color: #1F1F29;
    font-weight: bold;
    font-size: 2em;
}

.section {
    padding: 30px;
    background-color: #fff;
    margin: 20px 0px;
    font-size: 1.1em;
    word-wrap: break-word;
}

.description {
    background-color: #F7F3C6;
}

.section-heading {
    font-size: 1.5em;
    font-weight: bold;
    color: #700101;
}

.section-subheading {
    font-size: 1.2em;
    font-weight: bold;
    color: #1F1F29;
    margin-top: 20px;
}

.section-subheading span {
    text-decoration: underline;
}

.section-content {
    margin-top: 20px;
}

.side-by-side {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.three-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.extra-info {
    background-color: #F7F3C6;
    padding: 5px;
    font-size: 0.8em;
    color: #8A8A8B;
    margin: 20px;
}


/* ----------------------breadcrumb style---------------------------- */


/* Style the list */

ul.breadcrumb {
    padding: 5px 10px;
    list-style: none;
    background-color: #e9e9e9;
}


/* Display list items side by side */

ul.breadcrumb li {
    display: inline;
    font-size: 13px;
    cursor: pointer;
}


/* Add a slash symbol (/) before/behind each list item */

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">\00a0";
}


/* Add a color to all links inside the list */

ul.breadcrumb li a {
    color: #8A8A8B;
    text-decoration: none;
}


/* Add a color on mouse-over */

ul.breadcrumb li a:hover {
    color: #1F1F29;
    text-decoration: underline;
}


/* ----------------- styling for top recommendations ------------------- */

.top_recommendation {
    padding: 20px;
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    margin-top: 15px;
}

.recommendation_heading {
    font-size: 1.2em;
    font-weight: bold;
    color: #1F1F29;
    margin: 5px;
}

.top_recommendation_image {
    width: 200px;
    height: 100px;
    position: center;
    float: right;
}

.top_image_section {
    padding: 10px;
    border-left: #8A8A8B 1px;
}

.details_button {
    border: 0;
    background: linear-gradient(to right, #1F1F29 0%, #111113 100%);
    border-radius: 3px;
    color: #fff;
    padding: 5px 30px;
    width: 100%;
    text-align: center;
    margin: 10px;
}

.details_button:hover {
    background: #E0E0EC;
    cursor: pointer;
    text-decoration: none;
}


/* styling for remaining recommendations */

.recommendation_image {
    height: 150px;
    padding: 10px;
}

.recommendation_card {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    padding: 20px;
    margin: 10px;
}

.recommendation_card p {
    margin: 10px 0;
    text-align: center;
}

.recommendation-image {
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
}


/* for update profile button */

#update-profile-button {
    float: right;
}

.button {
    background-color: #1F1F29;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #E0E0EC;
    text-decoration: none;
}