{% load static %}

<head>
    <title>Project</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/index-style.css' %}">
</head>

<body>

    <!-- Header with full-height image -->
    <header class="bgimg-1 w3-display-container" id="home">
        <div class="w3-display-left w3-text-white" style="padding:48px">
            <span class="w3-jumbo w3-hide-small title">UniConnect</span><br>
            <span class="w3-xxlarge w3-hide-large w3-hide-medium title">Project</span><br>
            <!-- <span class="w3-large subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. </span> -->
            <a href="user/login">
                <p id="login-button">LOGIN</p>
            </a>
        </div>
    </header>
</body>

</html>