{% extends 'base.html' %} {% load static %}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{%  static 'css/link1-style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

{% block content %}

<body>
    <h2>
        Link 1
    </h2>

    <div class="container">
        <h1>Log In</h1>
        <div class="die-inputs">
            <div class="der-input">
                <label for="email">
                Email
            </label>
                <input type="text" placeholder="example@mail.com" autocomplete="off" id="email">
            </div>
            <div class="der-input">
                <label for="password">
                Password
            </label>
                <input type="password" id="password">
            </div>
            <div class="forget">
                <a href="">
                Forgot password?
            </a>
            </div>
        </div>
    </div>
    <footer>
        <button class="btn-login">Log In</button>
    </footer>

</body>
{% endblock %}