{% load static %}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/navbar-script.js' %}"></script>
    <link rel="stylesheet" href="{%  static 'css/navbar-style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

    <div class="sidebar">

        <div id="logo">
            <a href="/">
                <h2><i class="fa fa-university"></i> YOLO</h2>
            </a>
        </div>
        <div id="demo">

        </div>

        <a id="pred" class="nav-item underlined underlined--hover" href="/predictor">Predictor</a>
        <a class="nav-item underlined underlined--hover" href="/link1">Link 1</a>
        <a class="nav-item underlined underlined--hover" href="/">Link 2</a>
        <a class="nav-item underlined underlined--hover" href="/">Link 3</a>


    </div>


</body>

</html>