{% load static %}


<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/resp-nav-script.js' %}"></script>
    <link rel="stylesheet" href="{%  static 'css/resp-nav.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

    <div class="sidebar">

        <div id="logo">
            <a href="/">
                <h2><i class="fa fa-university"></i> YOLO</h2>
            </a>
        </div>

        <a class="underlined underlined--hover" href="/">Predictor</a>
        <a class="underlined underlined--hover" href="/">Link 1</a>
        <a class="underlined underlined--hover" href="/">Link 2</a>
        <a class="underlined underlined--hover" href="/">Link 3</a>

    </div>


</body>

</html>