body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
}

body,
html {
    height: 100%;
    line-height: 1.8;
}


/* Full height image header */

.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("/static/images/landing-page-bg.gif");
    min-height: 100%;
}

.w3-bar .w3-button {
    padding: 16px;
}

span {
    color: white;
}

.title {
    text-shadow: #700101 5px 5px;
}

#login-button {
    border: none;
    border-radius: 5px;
    padding: 15px;
    background-color: #E0E0EC;
    text-align: center;
    font-size: 1.1em;
    letter-spacing: 0.2em;
    color: #1F1F29;
}

#login-button:hover {
    background-color: #8A8A8B;
    transition: 0.2s;
}

a {
    text-decoration: none;
}