nav {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #111113;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    padding: 20px;
    color: #E0E0EC;
    text-decoration: none;
    font-size: 1.3em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.sidebar a.active {
    background-color: #700101;
    color: white;
}

#logo a:hover {
    background-color: #111113;
    color: #E0E0EC;
}

.underlined {
    color: black;
    line-height: 1.2;
    text-decoration: none;
    background-image: linear-gradient(to right, #1F1F29 0, #1F1F29 100%);
    background-position: 0 1em;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background .5s;
}

.underlined:hover:not(.active) {
    background-size: 100% 100%;
}

.underlined--hover:hover:not(.active) {
    background-position: 0 -0.1em;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}