h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #1F1F29;
    font-weight: bold;
}

.main-heading {
    font-family: Arial, Helvetica, sans-serif;
    color: #1F1F29;
    font-weight: bold;
    font-size: 2em;
}

.section {
    padding: 30px;
    background-color: #fff;
    margin: 20px 0px;
    font-size: 1.1em;
    border-radius: 5px;
}

.section-heading {
    font-size: 1.5em;
    font-weight: bold;
    color: #700101;
}

.button {
    background-color: #1F1F29;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
}

#update-profile-button {
    float: right;
}

.button:hover {
    background-color: #E0E0EC;
    text-decoration: none;
}

.notification {
    border: 1px #1F1F29 solid;
    padding-bottom: 50px;
}

#close {
    float: right;
    padding: 2px 5px;
    color: #8A8A8B;
}

#close:hover {
    color: #1F1F29;
    cursor: pointer;
}