h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #1F1F29;
    font-weight: bold;
}

.main-heading {
    font-family: Arial, Helvetica, sans-serif;
    color: #1F1F29;
    font-weight: bold;
    font-size: 2em;
}

.section {
    padding: 30px;
    background-color: #fff;
    margin: 20px 0px;
    font-size: 1.1em;
}

.description {
    background-color: #F7F3C6;
}

.section-heading {
    font-size: 1.5em;
    font-weight: bold;
    color: #700101;
}

.button {
    background-color: #1F1F29;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
}

#update-profile-button {
    float: right;
}

.button:hover {
    background-color: #E0E0EC;
    text-decoration: none;
}

.notification {
    border: 1px #1F1F29 solid;
    padding-bottom: 50px;
}

.success {
    border: rgb(48, 66, 48) 1px solid;
    padding-bottom: 50px;
}

#close {
    float: right;
    padding: 2px 5px;
    color: #8A8A8B;
}

#close:hover {
    color: #1F1F29;
    cursor: pointer;
}

.filter_side_by_side {
    display: grid;
    grid-template-columns: 1fr 6fr;
}


/* ----------------------breadcrumb style---------------------------- */


/* Style the list */

ul.breadcrumb {
    padding: 5px 10px;
    list-style: none;
    background-color: #e9e9e9;
}


/* Display list items side by side */

ul.breadcrumb li {
    display: inline;
    font-size: 13px;
    cursor: pointer;
}


/* Add a slash symbol (/) before/behind each list item */

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">\00a0";
}


/* Add a color to all links inside the list */

ul.breadcrumb li a {
    color: #8A8A8B;
    text-decoration: none;
}


/* Add a color on mouse-over */

ul.breadcrumb li a:hover {
    color: #1F1F29;
    text-decoration: underline;
}


/* ------------------------------ styling for user connections section -----------------------------------  */

.connect_user {
    margin: 10px 0;
    border-radius: 30px;
    padding: 15px 20px;
}

.connect_user li {
    display: inline-block;
    padding: 0px;
    background-color: yellow;
    font-size: 1.2em;
    vertical-align: middle;
}

.profile_picture {
    width: 50px;
}

.name_container {
    width: 10%;
}


/* ------------------------------ form field styling ------------------------------------ */

.form-field {
    height: 43px;
    padding: 0 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    outline: 0;
    transition: .2s;
    width: 100%;
    font-size: 1em;
    margin-bottom: 3px;
}

.form-field:focus {
    border-color: #6E6E92;
}


/* ----------------------- styling for connect users list ------------------------------  */

.user_container {
    display: flex;
    flex-direction: column;
    /* border-left: solid 2px #A2A2A2; */
    padding-left: 20px;
}

.user_list_container {
    height: 78vh;
    overflow: auto;
    padding-right: 10px;
}


/* width */

.user_list_container::-webkit-scrollbar {
    width: 10px;
}


/* Track */

.user_list_container::-webkit-scrollbar-track {
    background: #f8f8f8;
}


/* Handle */

.user_list_container::-webkit-scrollbar-thumb {
    background: #b7b7db;
}


/* Handle on hover */

.user_list_container::-webkit-scrollbar-thumb:hover {
    background: #1F1F29;
}

.user_cell {
    margin: 7px 0;
    background-color: #fff;
    border-radius: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user_details {
    width: 100%;
}

.user_details li {
    display: inline-block;
    /* background-color: yellow; */
    font-size: 1.2em;
    vertical-align: middle;
    padding-top: 0.7%;
    /* background-color: yellow; */
}

.user_details .picture_container {
    width: 7%;
    padding-left: 10px;
}

.user_details .name_container {
    width: 14%;
}

.user_details .university_container {
    width: 21%;
}

.user_details .from_container {
    width: 25%;
}

.user_details .destination_container {
    width: 25%;
}

.user_details .button_container {
    width: 5%;
}

.user_details .button_container button {
    border: none;
    padding: 20px 5px;
    background-color: white;
    transition: 0.25s;
    color: #111113;
    box-shadow: 1px 1px 5px lightgrey;
    border-radius: 5px;
}

.user_details .button_container button:hover {
    background-color: bisque;
    box-shadow: none;
}


/* ------------------- styling for connect section ----------------------------  */


/* the heading for each section under connect section */

fieldset legend {
    border-bottom: lightslategray 2px solid;
    padding-bottom: 10px;
    /* color: slategray; */
    font-size: 1.3em;
    color: #000;
    font-weight: bolder;
}


/* filter form field styling  */

.filter_form_field {
    height: 23px;
    padding: 0 5px;
    border: 1px solid #E0E0EC;
    border-radius: 2px;
    outline: 0;
    transition: .2s;
    width: 100%;
    font-size: 1em;
    margin-bottom: 3px;
}

.filter_form_field:focus {
    border-color: #6E6E92;
}

#apply_filters_container {
    text-align: center;
}

#apply_filters {
    background-color: #6E6E92;
    padding: 5px 20px;
    border: none;
    border-radius: 2px;
    color: white;
    transition: 0.3s;
    box-shadow: 1px 1px 5px lightgrey;
}

#apply_filters:hover {
    background-color: #9393be;
    box-shadow: none;
}


/* ------------------------------- floating label styling -----------------------------------  */

.floating-label {
    position: relative;
    margin-bottom: 20px;
}

.floating-input,
.floating-select {
    font-size: 14px;
    padding: 4px 4px;
    display: block;
    width: 100%;
    height: 30px;
    background-color: white;
    margin-top: 25px;
    border: none;
    /* border-bottom: 1px solid #757575; */
}

.floating-input:focus,
.floating-select:focus {
    outline: none;
    border-bottom: 2px solid #5264AE;
}

.to_float {
    color: #999;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 5px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.floating-input:focus~.to_float,
.floating-input:not(:placeholder-shown)~.to_float {
    top: -18px;
    font-size: 14px;
    color: #5264AE;
}

.floating-select:focus~.to_float,
.floating-select:not([value=""]):valid~.to_float {
    top: -18px;
    font-size: 14px;
    color: #5264AE;
}


/* active state */

.floating-input:focus~.bar:before,
.floating-input:focus~.bar:after,
.floating-select:focus~.bar:before,
.floating-select:focus~.bar:after {
    width: 50%;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.floating-textarea {
    min-height: 30px;
    max-height: 260px;
    overflow: hidden;
    overflow-x: hidden;
}


/* highlighter */

.highlight {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 15%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}


/* active state */

.floating-input:focus~.highlight,
.floating-select:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}


/* animation */

@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}